*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(48, 7, 7);
}
img{
    width: 75px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul{
    display: flex;
    gap: 40px;
    margin: 0 350px;
}
.active{
    display: flex;
    align-items: center;
    border-radius: 20px;
}
.active i{
    font-size: 25px;
}

ul li{
    display: flex;
}
ul li a{
    text-decoration: none;
    color: aliceblue;
    transition: 0.5s;
    letter-spacing: 1.5px;
}
ul li a:hover{
    transform: scale(1.15);
    color: bisque;
}
section{
    display: flex;
    align-items: center;
    margin: 5rem auto;
    margin-left: 500px;
}
.immg{
    width: 260px;
}
.goku h1{
    color: bisque;
    font-size: 70px;
}
.goku h2{
    color: #fff;
    font-size: 35px;
}
.goku p{
    max-width: 450px;
    font-size: 20px;
    color: #fff;
}
.goku a{
    color: rgb(68, 68, 68);
    font-size: 40px;
    padding: 20px;
    transition: 0.5s;
}
.goku a:hover{
    color: bisque;
}
.goku i{
    transition: 0.5s;
}
.goku a i:hover{
    transform: scale(1.3);
    transition: 1s;
    transform: rotate(360deg);
}